<div class="main-top">
    <br>
    <h1>Welcome to Fakelook!</h1>
    <p>……最初の一歩は、いつもここから</P>
    <br>
    <%=link_to "新規登録はこちら", new_user_path %><br><br>
    <%= link_to "ログインはこちら", new_session_path %>
</div>